*{
    padding: 0;
    margin: 0;
}
body{
    padding:0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    width: 100%;
    
    
}
footer{
    margin-top: 40px;
    margin-bottom: 10px;
}

.nav{
    /* background-color: #007BFF; */
    width: 110%;
    height:auto;
    padding: 10px 0 ;
    position: sticky;
    top: 1;
    display: flex;
    /* background-color: #007BFF; */

    margin: auto;
    
}
/*Button Search*/
.wrap{
    width:50%;
    /* background-color: #007BFF; */
}
.search {
    
    /* width: 100%; */
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    /* background-color: #007BFF; */
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    border:1px solid #E9E7E7
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 40px;
    border:none;
    background:#FFC700;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchButton:hover{
      text-decoration: none;
      color: white;
  }
/*End Of Button Search*/


.nav .navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top .3s;
    margin: auto;

  
}
.nav .navbar .logo{
    width: 10%;
    /* background-color: aqua; */
    text-align: right;
    color: #007BFF;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: cadetblue; */
}
.nav .navbar .logo a{
    text-decoration: none;
    font-size: 23px;
    color: #007BFF;
    /* background-color: #007BFF; */
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .navbar .logo .img-logo{
    border-radius: 30px;
    width: 45px ;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.midnav{
    width: 50%;
    /* background-color: red; */
}
.midnav a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
    transition: .3s linear;
}
.midnav a:hover{
    color: #007BFF;
    text-decoration: underline;
    transition: all 0.3s linear;
}

.rightnav{
    width: 15%;
    float: right;
    /* background-color: cadetblue; */


}
.rightnav a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.rightnav a:hover{
    color: #007BFF;
    transition: all .3s linear;
}
.rightnav .sigh{
    color: white;
    background-color: #FFC700;
    padding: 10px;
    border-radius: 5px;
}
.rightnav .sigh:hover{
    color:white;
    /* box-shadow: 2px 3px 3px rgb(182, 180, 180); */
    transition: all .3s linear;
    opacity: 0.5;
}


/*Section2*/
.section2{
    width: 100%;
    margin-top: 30px;
    
}
.section2 .poster{
    width: 80%;
    margin: auto;
}
.section2 .poster img{
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;

}
/*End of Section2*/
/*Section3*/
.section3{
    width: 100%;
    margin: 15px 0;
}
.section3 .list{
    width: 25%;
    margin: 0 114px;
    display: flex;
    
}
.section3 .list a{
    width: 45px;
    font-size: 14px;
    color:#007BFF;
    text-decoration: none;

}
.section3 .list .list2{
    width: 100px;
    text-align: center;
}
.section3 .list p{
    color: #007BFF;
    width: 10px;
}
/*End of Section3*/
.section4{
    width: 100%;
    display: flex;
    /* background-color: #007BFF; */
}

.section4 .container{
    /* background-color: #007BFF; */
    width: 55%;
    /* position: absolute; */
    /* left: 287px; */
    /* background-color:rgb(221, 2, 2); */
    
}
#myCarousel{
    background-color:rgb(255, 255, 255);

}
/*Carousel*/
.section4 .carousel{
    position: relative;
    width: 100%;
    height: 450px;
    border: 1px solid rgba(123, 121, 121, 0.47);
    padding: 20px;
    background-color: white;
    

}
.section4 .carousel .carousel-indicators{
    position: absolute; 
    top:375px;
    left:330px;
    right: 100px;
    height:95px;
    width: 90px;
    display: flex;
}
.section4 .carousel .carousel-indicators li{
    text-indent:0;
    display:flex;
    flex-direction: column;
    float:left;
    width: 90%;
    height: 60px;
    margin:5px 0px;
  
    /* background-color: #007BFF; */
}
.section4 .carousel .carousel-indicators li img{
    width: 70px;
    height: 60px;
    /* border:1px solid #CCCCCC; */
    padding: 2px;


}
/* .carousel-indicators .active img{
    border:1px solid #04BEF5;

} */
.carousel-indicators .active{
    margin:100px 0px;
    width: 10%;
    height: 300px;

}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
}
@media screen and (min-width:320px) and (max-width:360px) {
    .carousel-indicators{
        top:115px;
        left:95px;
    }
    .carousel-indicators li img{
        width:95%;
        height:50px;
    }
    .carousel-indicators li{
        width:20%;
        height:50px;
    }
    .carousel-indicators .active{
        width:20%;
        height:50px;
    }
}
@media screen and (min-width:768px) and (max-width:980px){
    .carousel-indicators{
        top:240px;
        left:213px;
    }
}

.section4 .warning{
    width: 28%;
}
.section4 .warning .owner{
    width: 100%;
    border:1px solid #007BFF;
    
}
.section4 .warning .owner .lord{
    width: 100%;
    text-align: center  ;
    color: #FFC700;
    font-size: 19px;
}

.section4 .warning .owner .phone{
    display: flex;
    width: 100%;
    padding: 0 10px;
    
}

.section4 .warning .chat{
    width: 100%;
    margin: 10px 0;
}
.section4 .warning .chat a{
    width: 100%;
    /* background-color: #007BFF; */
    padding: 10px 142px;
    transition: all .3s linear;
    font-size: 17px;

}
.section4 .warning .chat a:hover{
    background-color:   #007bffa1;
    color: white;
}
.section4 .warning .tip{
    width: 100%;
    border: 1px solid #FFC700;
    padding: 10px 20px;
    line-height: 50px;
    height: 337px;
}
.section4 .warning .tip p{
    text-align: center;
    font-size: 19px;
    color: #FFC700;
}

/*End of Carousel*/

/*Section5*/
.section5{
    width: 100%;
    /* background-color: #007BFF; */
}
.section5 .detail-section{
    width: 91%;
    /* background-color: #007BFF; */
    padding: 0 2px;
}

.section5 .detail-section .title-product{
    width: 80%;
    /* background-color: #FFC700; */
    margin: auto;
    padding: 20px 0;
}
.section5 .detail-section .title-product p{
    font-size: 25px;
}
.section5 .detail-section .title-product .icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section5 .detail-section .title-product .price{
    background-image: url(../img/style.png);
    width: 150px;
    height: 50px;
    background-position: center;
    background-size: cover;
}
.section5 .detail-section .title-product .price p{
    width: 100%;
    color:#fff;
    padding: 10px 21px;
}
    /* .section5 .detail-section .title-product .icon{
        background-color: #007BFF;

    } */
.section5 .detail-section .title-product .icon .caption{
    width:60% ;
    /* background-color: #FFC700; */
}
.section5 .detail-section .title-product .icon .beutiful{
    width: 30%;
    /* background-color: #FFC700; */
}
.section5 .detail-section .title-product .icon .beutiful i{
    font-size: 20px;
}
/* .section5 .detail-section .title-product .icon .beutiful svg{
     
} */
.section5 .detail-section .title-product .location{
    padding: 5px 0;
    display: flex;
    /* background-color: #007BFF; */
    justify-content: space-between;
}
.section5 .detail-section .title-product .location p{
    width: 60%;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.5);
    
}
.section5 .detail-section .title-product span{
    color: #FFC700;
}
.section5 .detail-section .title-product .line{
    background-color: #007BFF;
    width: 78%;
    height: 1px;
}
.section5 .detail-section .title-product .des{
    width: 100%;
    /* background-color: #007BFF; */
}
.section5 .detail-section .title-product .des p{
    font-size: 19px;
}
.section5 .detail-section .title-product .des .detail{
    width: 78%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.section5 .detail-section .title-product .des .detail p{
    font-size: 15px;
}
.section5 .detail-section .title-product .des .detail span{
    color: #007BFF;
    padding: 0 5px;
}
.section5 .detail-section .title-product .des .detail .bed{
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(111, 111, 111);
    box-shadow: 0px 2px 0px rgba(121, 121, 121, 0.402);
}
.section5 .detail-section .title-product .des .detail .bath{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border-bottom: 1px solid rgb(111, 111, 111);
    box-shadow: 0px 2px 0px rgba(121, 121, 121, 0.402);
}
.section5 .detail-section .title-product .des .detail .face{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border-bottom: 1px solid rgb(111, 111, 111);
    box-shadow: 0px 2px 0px rgba(121, 121, 121, 0.402);
}
.section5 .detail-section .title-product .des .area{
    /* background-color: #007BFF; */
    width: 78%;
    display: flex;
    justify-content:space-between;
    padding: 15px 0;
}
.section5 .detail-section .title-product .des .area .size{
    display: flex;
    justify-content: space-between;
    width: 30%;
    border-bottom: 1px solid rgb(111, 111, 111);
    box-shadow: 0px 2px 0px rgba(121, 121, 121, 0.402);
}
.section5 .detail-section .title-product .des .area p{
    font-size: 15px;
}
.section5 .detail-section .title-product .des .area span{
    color: #007BFF;
}
.section5 .detail-section .title-product .des .area .price1{
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(111, 111, 111);
    box-shadow: 0px 2px 0px rgba(121, 121, 121, 0.402);
}
.section5 .detail-section .title-product .des .area .price2{
    width: 30%;
    display: flex;
    justify-content: space-between; 
    color: white;
    background-color: white;
}
/*End of Section5*/

/*Section6*/
.section6{
    width: 100%;
}
.section6 .detail{
    width: 78%;
}
.section6 .detail .title{
    width: 88%;
        /* background-color: #007BFF; */
    margin: auto;

}
.section6 .detail .title h1{
    font-size: 23px;
    padding: 0 50px;
}
.section6 .detail .list-post{
    width: 88%;
    margin: auto;
    padding: 5px 0;
}
.section6 .detail .list-post .relate1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    /* background-color: #007BFF; */
   transition: all 0.3s linear; 
}

.section6 .detail .list-post .relate1 .box-left{
    background: rgba(233, 231, 231, 0.4);
    width: 30%;
    transition: all 0.3s linear;   
}
.section6 .detail .list-post .relate1 .box-left p{
    padding: 2px 5px;
    font-size: 18px;
}
.section6 .detail .list-post .relate1 .btn{
    display: flex;  
    justify-content: space-between;
}
.section6 .detail .list-post .relate1 .btn p{
    width: 50%;
    /* background-color: #007BFF; */
    text-align: left;
    padding: 10px 0;
    font-size: 17px ;
    color: red;
    font-size: 18px;
}
.section6 .detail .list-post .relate1 .btn a{
    width: 50%;
    text-align: right;
    padding: 13px;
    text-decoration: none;
    transition: all 0.3s linear
}
.section6 .detail .list-post .relate1 .btn a:hover{
    font-size: 20px;
    color: #007BFF;
}
/* .section6 .detail .list-post .relate1 .box-left:hover{
    box-shadow: 1px 2px 3px rgb(111, 111, 111);
} */
.section6 .detail .list-post .relate1 img{
    width: 100%;
    height: 175px;
    padding: 5px;
}
.section6 .detail .list-post .relate1 .box-center{
    background: rgba(233, 231, 231, 0.4);
    width: 30%;
}
.section6 .detail .list-post .relate1 .box-right{
    background: rgba(233, 231, 231, 0.4);
    width: 30%;

}
.section6 .detail .list-post .relate1 .box-right p{
    font-size: 18px;
}



/*End of Section6*/